@font-face { font-family:'micra-bold';src:url("../assets/fonts/micra-bold.woff2") format('woff2');font-weight:normal;font-style:normal; }
@font-face { font-family:'oswald-light';src:url("../assets/fonts/oswald-light.woff2") format('woff2');font-weight:normal;font-style:normal; }
:root {
    --primary-color: #00a8cb;
    --secondary-color: #01a482;
    --tertiary-color: #343940;
    --quaternary-color: #89898a;
    --quinary-color: #1f1f1f;
    --dark-blue:#040f26;
    --light-grey:#89898a;

    --title-font:'micra-bold';
    --title-font-size:70px;
    --subtitle-font-size:50px;
    --body-font:'oswald-light';
    --body-font-size:25px;

    --content-padding:30px;
}
h1 { font-size:var(--title-font-size);font-family:var(--title-font); }
h2 { font-size:var(--subtitle-font-size);font-family:var(--title-font); }
.horizontal-center { display:block;margin-left:auto;margin-right:auto; }
.color-secondary { color:var(--secondar-color); }
.button { border-radius:50px;border-style:solid;border-width:2px;padding:var(--content-padding);font-size:40px;font-family:var(--title-font);display:inline-block;background:none; }
.button.color-primary, .button:visited.color-primary, .button:link.color-primary, .button:active.color-primary, .button:hover.color-primary { border-color:var(--primary-color);color:var(--primary-color); }
.button.color-secondary, .button:visited.color-secondary, .button:link.color-secondary, .button:active.color-secondary, .button:hover.color-secondary { border-color:var(--secondary-color);color:var(--secondary-color); }

body { font-family:var(--body-font);font-size:var(--body-font-size);overflow-x:hidden; }
.hero { background:var(--dark-blue);width:100%;height:100vh;display:grid;grid-template-rows:160px auto; }
.hero:after { background-image:linear-gradient(0deg, rgba(217,217,217,1) 50%, rgba(255,255,255,1) 100%); }
nav { width:100%;background:var(--primary-color);display:flex;align-items:center;justify-content:space-between;padding:var(--content-padding);color:#ffffff;font-family:var(--title-font);font-size:30px; }
.nav-links i { display:none;font-size:var(--title-font-size);cursor:pointer; }
.nav-links li { display:inline;list-style:none; }
.nav-links li:after { content:" | " }
.nav-links li:last-child:after { content:"" }
.nav-links a:visited, .nav-links a:active, .nav-links a:link, .nav-links a:hover { color:#ffffff; }
.nav-menu { display:none;margin-right:var(--content-padding);font-size:var(--title-font-size);cursor:pointer; }
.hero .hero-content { max-width:1920px;display:flex;justify-content:space-evenly;align-items:center;flex-wrap:wrap; }
.hero .hero-content > div { flex:1 1 auto; }
.content-columns { display:flex;justify-content:space-between;align-items:flex-start;width:100%;max-width:1920px;text-align:left;margin:0 auto; }
.body-content { width:100%;background:#ffffff;background:linear-gradient(0deg, rgba(217,217,217,1) 50%, rgba(255,255,255,1) 100%);text-align:center;padding:calc(var(--content-padding) * 2); }
.body-content .body-content-title { margin-bottom:var(--content-padding); }
.body-content .body-content-title, .body-content .body-content-tagline { font-family:var(--title-font);color:var(--tertiary-color);text-transform:uppercase;text-align:center; }
.footer { display:block;padding:calc(var(--content-padding) * 2);background:var(--quinary-color);color:var(--primary-color); }
.footer .content-columns div { flex:1 1 auto; }
.footer .social-media a:visited, .footer .social-media a:link { color:var(--light-grey);text-decoration:none; }
.footer .social-media a:active, .footer .social-media a:hover { color:var(--primary-color); }
.footer .social-media p { margin-bottom:calc(var(--content-padding) * 2);line-height:100px; }
.footer a.social-icon { font-size:150px;margin-right:var(--content-padding);color:var(--primary-color); }
.footer .social-link { font-size:var(--title-font-size); }
.footer .contact-form h2 { margin-bottom:calc(var(--content-padding) * 2); }
.footer .form-label { font-family:var(--body-font);font-size:var(--subtitle-font-size);color:var(--primary-color);text-transform:uppercase; }
.footer .form-control { background:none;border:2px solid var(--light-grey);border-radius:50px;padding:var(--content-padding);color:#ffffff;font-size:var(--subtitle-font-size);margin-bottom:var(--content-padding); }
.footer textarea.form-control { min-height:250px; }
.footer .button { width:100%; }
.footer .copyright { text-align:center;color:var(--light-grey);margin:calc(var(--content-padding) * 2) 0; }

/** HOMEPAGE STYLES **/
.hero.hp { background-image:linear-gradient(0deg, rgba(4,15,38,.9) 40%, rgba(0,168,203,.9) 100%), url('../assets/images/hp-hero-bg-1920w.jpg');background-size:cover; }
.hero-content .home-hero-cta { color:#ffffff;display:flex;justify-content:center; }
.home-hero-logo { margin-right:calc(var(--content-padding) * 2); }
.home-hero-cta .cta-wrapper { margin:0 auto;display:block; }
.home-hero-cta .hero-main-line, .home-hero-cta .hero-secondary-line { color:var(--secondary-color);font-family:var(--title-font); }
.home-hero-cta .hero-main-line { font-size:100px;letter-spacing:42px;padding:0;margin:0;line-height:90px; }
.home-hero-cta .hero-secondary-line { font-size:33px;margin-bottom:var(--content-padding); }
.home-hero-cta p { margin-bottom:var(--content-padding); }
.body-content { display:flex;flex-direction:column; }
.body-main-content { display:flex;flex-direction:row; }
.body-main-content > div { flex:1 1 auto; }
.content-image { display:flex;flex-direction:column; }
.body-main-content .contract-manufacturing-column { margin-right:var(--content-padding); }
.body-content-tagline > h2 { margin-bottom:0; }
.body-content-tagline > h1 { font-size:70px !important; }

@media (max-width:1465px){
    .nav-links { position:absolute;top:0;left:100vw;background:var(--primary-color);min-height:100vh;width:100%;text-align:right; }
    .nav-menu { display:inline; }
    .nav-links i { display:block;padding:var(--content-padding); }
    .nav-links li { display:block;padding:var(--content-padding); }
    .nav-links li:after { content:""; }
    .hero .hero-content > div { flex:0 1 auto; }
    .hero-content { flex-direction:column;justify-content:center !important; }
    .home-hero-logo { margin-right:0;margin-bottom:var(--content-padding); }
    .body-main-content { flex-direction:column; }
    .body-main-content .main-content-column { margin:var(--content-padding) 0; }
    .content-image { flex-direction:row; }
    .content-image picture { margin-right:var(--content-padding);order:-1; }
    .footer a.social-icon { font-size:75px;margin-right:var(--content-padding);color:var(--primary-color); }
    .footer .social-link { font-size:var(--subtitle-font-size); }
    .footer .content-columns { flex-direction:column; }
    .footer .contact-form { order:-1;width:100%;margin-bottom:calc(var(--content-padding) * 2); }
}

@media (max-width:1000px){
    .home-hero-cta { text-align:center; }
    .home-hero-cta .hero-main-line { font-size:60px;letter-spacing:25px;padding:0;margin-left:25px;line-height:90px; }
    .home-hero-cta .hero-secondary-line { font-size:20px;margin-bottom:var(--content-padding); }
    .home-hero-cta .cta-wrapper { padding:0 var(--content-padding); }
    .content-image { flex-direction:column; }
    .content-image picture { margin-bottom:var(--content-padding);order:initial; }
}

@media (max-width:800px){
    :root {
        --title-font-size:35px;
        --subtitle-font-size:25px;
        --body-font-size:15px;
    }
    .button { font-size:20px; }
    .hero { grid-template-rows:110px auto; }
    .hero.hp { background-image:linear-gradient(0deg, rgba(4,15,38,.8) 50%, rgba(0,168,203,.8) 100%), url('../assets/images/hp-hero-bg-800w.jpg'); }
    .hero-content { flex-direction:row;padding:var(--content-padding);flex-wrap:nowrap !important; }
    .home-hero-cta .hero-main-line { font-size:36px;letter-spacing:20px;line-height:40px; }
    .home-hero-cta .hero-secondary-line { font-size:13px; }
    .home-hero-cta .cta-wrapper { padding-left:var(--content-padding); }
    .body-content-tagline > h1 { font-size:35px !important; }
    .footer .social-media p { margin-bottom:var(--content-padding);line-height:75px; }
}

@media (max-width:650px){
    .hero { display:block;height:auto; }
    .hero-content { flex-direction:column; }
}
